App_flow.json
[{
    "id": "d8d1e0fa.bd5528",
    "type": "http response",
    "z": "211c0667.395602",
    "name": "",
    "x": 735,
    "y": 163,
    "wires": []
}, {
    "id": "9024be09.0ec7b8",
    "type": "template",
    "z": "211c0667.395602",
    "name": "Index",
    "field": "payload",
    "fieldType": "msg",
    "format": "html",
    "syntax": "mustache",
    "template": "<!-- index.html -->\n{{=<% %>=}}\n    <!DOCTYPE html>\n    <!-- define angular app -->\n    <html ng-app=\"scotchApp\">\n    <style>\n        table {\n            width: 100%;\n        }\n\n        table,\n        th,\n        td {\n            border: 1px solid black;\n            border-collapse: collapse;\n        }\n\n        th,\n        td {\n            padding: 15px;\n            text-align: left;\n        }\n\n        table#t01 tr:nth-child(even) {\n            background-color: #eee;\n        }\n\n        table#t01 tr:nth-child(odd) {\n            background-color: #fff;\n        }\n\n        table#t01 th {\n            background-color: #5f6060;\n            color: white;\n        }\n   </style>\n\n    <head>\n        <!-- SCROLLS -->\n        <!-- load bootstrap and fontawesome via CDN -->\n        <link rel=\"stylesheet\" href=\"//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css\" />\n        <link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css\" />\n        \n        <!-- SPELLS -->\n        <!-- load angular and angular route via CDN -->\n        <script src=\"https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js\"></script>\n        <script src=\"//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.js\"></script>\n        <script src=\"/ui1/script.js\"></script>\n    </head>\n    \n    <body ng-controller=\"mainController\">\n\n        <!-- HEADER AND NAVBAR -->\n        <header>\n            <nav class=\"navbar navbar-default\">\n                <div class=\"container\">\n                    <div class=\"navbar-header\">\n                        <a class=\"navbar-brand\" href=\"/ui\">Manage IoT Platform</a>\n                    </div>\n\n                    <ul class=\"nav navbar-nav navbar-right\">\n                        <li>\n                            <a href=\"#\">\n                                <i class=\"fa fa-home\"></i> Home</a>\n                        </li>\n                        <li>\n                            <a href=\"#about\">\n                                <i class=\"fa fa-shield\"></i> About</a>\n                        </li>\n                        <li>\n                            <a href=\"#contact\">\n                                <i class=\"fa fa-comment\"></i> Contact</a>\n                        </li>\n                        <li>\n                            <a href=\"#sensors\">\n                                <i class=\"fas fa-thermometer-half\"></i> Sensors</a>\n                        </li>\n                    </ul>\n                </div>\n            </nav>\n        </header>\n\n        <!-- MAIN CONTENT AND INJECTED VIEWS -->\n        <div id=\"main\">\n\n            <!-- angular templating -->\n            <!-- this is where content will be injected -->\n            <div ng-view></div>\n           \n        </div>\n\n    </body>\n\n    </html>\n<%={{ }}=%>",
    "x": 404,
    "y": 72,
    "wires": [
        ["d8d1e0fa.bd5528"]
    ]
}, {
    "id": "373fa51a.4d6652",
    "type": "http in",
    "z": "211c0667.395602",
    "name": "UI Index",
    "url": "/ui1",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 187,
    "y": 72,
    "wires": [
        ["9024be09.0ec7b8"]
    ]
}, {
    "id": "a5187c90.569a",
    "type": "http in",
    "z": "211c0667.395602",
    "name": "UI Application",
    "url": "/ui1/script.js",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 178,
    "y": 313,
    "wires": [
        ["fb89b94d.856068"]
    ]
}, {
    "id": "fb89b94d.856068",
    "type": "template",
    "z": "211c0667.395602",
    "name": "application",
    "field": "payload",
    "fieldType": "msg",
    "format": "javascript",
    "syntax": "mustache",
    "template": "// script.js\n\n // create the module and name it scotchApp\n // also include ngRoute for all our routing needs\n var scotchApp = angular.module('scotchApp', ['ngRoute']);\n\n // configure our routes\n scotchApp.config(function($routeProvider) {\n $routeProvider\n\n // route for the home page\n .when('/', {\n templateUrl : 'pages/home.html',\n controller : 'mainController'\n })\n \n  // route for the sensors page\n .when('/sensors', {\n templateUrl : 'pages/sensors.html',\n controller : 'sensorsController'\n })\n\n // route for the about page\n .when('/about', {\n templateUrl : 'pages/about.html',\n controller : 'aboutController'\n })\n\n // route for the contact page\n .when('/contact', {\n templateUrl : 'pages/contact.html',\n controller : 'contactController'\n });\n });\n\n // create the controller and inject Angular's $scope\n scotchApp.controller('mainController', function($scope) {\n // create a message to display in our view\n $scope.message = 'Everyone come and see how good I look!';\n });\n\n scotchApp.controller('aboutController', function($scope) {\n $scope.message = 'Information about us';\n });\n\n scotchApp.controller('contactController', function($scope) {\n $scope.message = 'Please fell free to contact us here !!!!';\n });\n \n \n scotchApp.controller('sensorsController', function($scope) {\n $scope.message = 'Here is the sensor Panel';\n $scope.IPv6s = payload;\n console.log($scope.IPv6s);\n });\n \n ",
    "x": 393,
    "y": 314,
    "wires": [
        ["d8d1e0fa.bd5528"]
    ]
}, {
    "id": "1f19b807.336408",
    "type": "template",
    "z": "211c0667.395602",
    "name": "UI Stylesheet",
    "field": "payload",
    "fieldType": "msg",
    "format": "css",
    "syntax": "mustache",
    "template": "",
    "x": 383,
    "y": 360,
    "wires": [
        ["d8d1e0fa.bd5528"]
    ]
}, {
    "id": "8bc012cf.f0738",
    "type": "http in",
    "z": "211c0667.395602",
    "name": "UI Style",
    "url": "/ui1/ui.css",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 196,
    "y": 360,
    "wires": [
        ["1f19b807.336408"]
    ]
}, {
    "id": "71c88fe1.22e75",
    "type": "template",
    "z": "211c0667.395602",
    "name": "Home",
    "field": "payload",
    "fieldType": "msg",
    "format": "text",
    "syntax": "mustache",
    "template": "{{=<% %>=}}\n <!-- home.html -->\n <div class=\"jumbotron text-center\">\n <h1>Home Page</h1>\n\n <p>{{ message }}</p>\n </div>\n<%={{ }}=%>\n",
    "x": 405,
    "y": 116,
    "wires": [
        ["d8d1e0fa.bd5528"]
    ]
}, {
    "id": "9fc7fc05.86b268",
    "type": "http in",
    "z": "211c0667.395602",
    "name": "UI Home",
    "url": "/pages/home.html",
    "method": "get",
    "swaggerDoc": "",
    "x": 189,
    "y": 116,
    "wires": [
        ["71c88fe1.22e75"]
    ]
}, {
    "id": "fd76a7cf.e66c4",
    "type": "template",
    "z": "211c0667.395602",
    "name": "About",
    "field": "payload",
    "fieldType": "msg",
    "format": "text",
    "syntax": "mustache",
    "template": "{{=<% %>=}}\n <!-- about.html -->\n <div class=\"jumbotron text-center\">\n <h1>About Page</h1>\n <p>{{message}}</p>\n </div>\n<%={{ }}=%>",
    "x": 405,
    "y": 158,
    "wires": [
        ["d8d1e0fa.bd5528"]
    ]
}, {
    "id": "5e4d2968.5c1388",
    "type": "http in",
    "z": "211c0667.395602",
    "name": "UI About",
    "url": "/pages/about.html",
    "method": "get",
    "swaggerDoc": "",
    "x": 190,
    "y": 159,
    "wires": [
        ["fd76a7cf.e66c4"]
    ]
}, {
    "id": "7a741948.8b99a8",
    "type": "template",
    "z": "211c0667.395602",
    "name": "Contact",
    "field": "payload",
    "fieldType": "msg",
    "format": "html",
    "syntax": "mustache",
    "template": "{{=<% %>=}}\n <!-- contact.html -->\n <div class=\"jumbotron text-center\">\n <h1>Contact Page</h1>\n\n <p>{{ message }}</p>\n </div>\n<%={{ }}=%>\n",
    "x": 402,
    "y": 202,
    "wires": [
        ["d8d1e0fa.bd5528"]
    ]
}, {
    "id": "48017064.821588",
    "type": "http in",
    "z": "211c0667.395602",
    "name": "UI Contact",
    "url": "/pages/contact.html",
    "method": "get",
    "swaggerDoc": "",
    "x": 187,
    "y": 203,
    "wires": [
        ["7a741948.8b99a8"]
    ]
}, {
    "id": "e4f76da7.06756",
    "type": "http in",
    "z": "211c0667.395602",
    "name": "UI Sensors",
    "url": "/pages/sensors.html",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 189.5,
    "y": 244,
    "wires": [
        ["58e9b583.9026c4"]
    ]
}, {
    "id": "97c4d114.df65a8",
    "type": "template",
    "z": "211c0667.395602",
    "name": "",
    "field": "payload",
    "fieldType": "msg",
    "format": "handlebars",
    "syntax": "mustache",
    "template": "<!DOCTYPE html>\n<html>\n<head>\n<style>\ntable {\n    font-family: arial, sans-serif;\n    border-collapse: collapse;\n    width: 100%;\n}\n\ntd, th {\n    border: 1px solid #dddddd;\n    text-align: left;\n    padding: 8px;\n}\n\ntr:nth-child(even) {\n    background-color: #dddddd;\n}\n</style>\n</head>\n<body>\n\n<h2 class=\"text-center\">Sensors Table</h2>\n{{#_msgid}}\n{{/_msgid}}\n<table>\n  <tr>\n    <th>IPv6s</th>\n    <th>Temperature</th>\n    <th>Accelerometre</th>\n  </tr>\n  {{#items}}\n  <tr>\n    <td><a href=\"{{IPv6s}}\">{{IPv6s}}</a></td>\n    <td><strong>{{temperature}}</strong></td>\n    <td><strong>{{accelerometre}}</strong></td>\n  </tr>\n  {{/items}}\n</table>\n\n</body>\n</html>\n",
    "output": "str",
    "x": 463,
    "y": 243,
    "wires": [
        ["d8d1e0fa.bd5528"]
    ]
}, {
    "id": "58e9b583.9026c4",
    "type": "function",
    "z": "211c0667.395602",
    "name": "IPv6s",
    "func": "var data = global.get(\"data\");\nvar miniData = data.payload;\nmsg.items = miniData;\nmsg.empty = false;\n//msg = {\"header\":\"Data\", \"items\":msg.items, \"empty\":false};\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 327,
    "y": 244,
    "wires": [
        ["97c4d114.df65a8"]
    ]
}]