database.json
[{
    "id": "e78f8d46.d7a89",
    "type": "inject",
    "z": "7a68b811.986b3",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 94,
    "y": 22,
    "wires": [
        ["412a9f59.1a943"]
    ]
}, {
    "id": "412a9f59.1a943",
    "type": "coap request",
    "z": "7a68b811.986b3",
    "method": "GET",
    "observe": false,
    "url": "coap://[fd00::212:4b00:14b5:ef18]:5683/sensors/onboardtemperature",
    "content-format": "text/plain",
    "raw-buffer": false,
    "name": "",
    "x": 267,
    "y": 92,
    "wires": [
        ["2d699a63.43813e", "52a8ab78.51c64c"]
    ]
}, {
    "id": "2d699a63.43813e",
    "type": "debug",
    "z": "7a68b811.986b3",
    "name": "Temperature",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "x": 590,
    "y": 91,
    "wires": []
}, {
    "id": "206b4aa3.fa323e",
    "type": "debug",
    "z": "7a68b811.986b3",
    "name": "Query",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "x": 709,
    "y": 302,
    "wires": []
}, {
    "id": "c32f2977.c1f2a8",
    "type": "mysql",
    "z": "7a68b811.986b3",
    "mydb": "ef8da149.86aa58",
    "name": "DB_TEMP",
    "x": 585,
    "y": 232,
    "wires": [
        ["206b4aa3.fa323e"]
    ]
}, {
    "id": "52a8ab78.51c64c",
    "type": "function",
    "z": "7a68b811.986b3",
    "name": "SQL Write Query",
    "func": "msg.topic = \"INSERT INTO TB_TEMP(IPv6s, temperature, accelerometre)    VALUES(\"+\"'\" + global.get(\"IPv6s\")+ \"'\" + \",\" + msg.payload + \", 0)\"\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 444,
    "y": 164,
    "wires": [
        ["c32f2977.c1f2a8", "9e0fc154.d1169"]
    ]
}, {
    "id": "9e0fc154.d1169",
    "type": "debug",
    "z": "7a68b811.986b3",
    "name": "SQL Query",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "topic",
    "x": 677.5,
    "y": 145,
    "wires": []
}, {
    "id": "9ace0a91.e62ba",
    "type": "function",
    "z": "7a68b811.986b3",
    "name": "SQL Read Query",
    "func": "msg.topic = \"SELECT IPv6s, temperature, accelerometre FROM TB_TEMP;\"\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 291.5,
    "y": 294,
    "wires": [
        ["279b9ef5.137832"]
    ]
}, {
    "id": "279b9ef5.137832",
    "type": "mysql",
    "z": "7a68b811.986b3",
    "mydb": "ef8da149.86aa58",
    "name": "DB_TEMP",
    "x": 483.5,
    "y": 344,
    "wires": [
        ["d4048800.5de278", "944dacb7.3814d8"]
    ]
}, {
    "id": "d4048800.5de278",
    "type": "debug",
    "z": "7a68b811.986b3",
    "name": "LOG",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "x": 620.5,
    "y": 435,
    "wires": []
}, {
    "id": "24af3ffd.b597a",
    "type": "inject",
    "z": "7a68b811.986b3",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 100.5,
    "y": 295,
    "wires": [
        ["9ace0a91.e62ba"]
    ]
}, {
    "id": "944dacb7.3814d8",
    "type": "function",
    "z": "7a68b811.986b3",
    "name": "Set Data",
    "func": "global.set(\"data\", msg);\n",
    "outputs": 1,
    "noerr": 0,
    "x": 621.5,
    "y": 508,
    "wires": [
        []
    ]
}, {
    "id": "ef8da149.86aa58",
    "type": "MySQLdatabase",
    "z": "",
    "host": "127.0.0.1",
    "port": "3306",
    "db": "DB_TEMP",
    "tz": ""
}]